{% extends "layout.html" %}
{% block content %}
<div class="header">
    <nav>
        <ul>
            <li class="homeLblPos"><a class="btn" href="{{ url_for('home') }}">Home</a></li>
            <li class="registerLblPos">
                <a class="btn" href="#">Manage Users</a>
                <ul class="dropdown">
                    <li><a class="btn" href="{{ url_for('register') }}">Add User</a></li>
                    <li><a class="btn" href="{{ url_for('users') }}">Edit User</a></li>
                </ul>
            </li>
            <li class="logoutLblPos"><a class="btn" href="{{ url_for('logout') }}">Signout</a>
            </li>
        </ul>
    </nav>
</div>


<div class="form col-md-6">
    <form method="POST" action="/users">
        <div class="container">
            <legend class="border-bottom mb-4">Edit user</legend>
            <select class="form-control" name=sel_user method="POST"
                onchange="if(this.value != 0) { this.form.submit(); }">
                <option value="0" disabled selected>Select User</option>
                {% for u in all_users %}
                {% if user %}
                <option value="{{u}}" {% if user.username==u %} selected {% endif %}>{{u}}</option>
                {% else %}
                <option value="{{u}}">{{u}}</option>
                {% endif %}
                {% endfor %}
            </select>
            <br>
        </div>
        <div class="container">
            {% if user %}
            <div>
                Access Level :<select class="form-control" name="access" style="width: 60%">
                    <option value="admin" {% if user.access=="admin" %} selected {% endif %}>admin</option>
                    <option value="read" {% if user.access=="read" %} selected {% endif %}>read</option>
                </select>
                <br>
                <input class="btn btn-primary" name="change_access" type="submit"
                    style="width: 35%; align-self: centre; margin: -85px 320px 24px;" value=" Update access">
            </div>
            <div>
                Password : <input class="form-control" name="password" type="password" placeholder="new password"
                    style="width: 60%">
                <input class="btn btn-primary" name="change_pass" type="submit"
                    style="width: 35%; align-self: centre; margin: -85px 320px 24px;" value="Change Password">
            </div>
            <div>
                <input class="del-btn" name="del_user" type="submit" value="Delete User">
            </div>

            {% endif %}
        </div>
    </form>
</div>
{% endblock content %}